{{ define "header" }}
<header class="header">
    <a href="/" class="logo">
        <i class="fas fa-heart"></i>CosmoBrands
    </a>

    <ul class="nav-list">
        <li><a href="/">Главная</a></li>
        <li><a href="/brands">Бренды</a></li>
        <li><a href="/categories">Категории</a></li>
    </ul>

    <div class="header-icons">
        {{ if eq .Role "user" }}
        <a href="/profile" class="profile-icon">{{ .Name }}</a>
        {{ else if eq .Role "creator" }}
        <a href="/creator/brands" class="icon">✏️ Редакция</a>
        <a href="/profile" class="profile-icon">{{ .Name }}</a>
        {{ else }}
        <a href="/auth" class="icon">👤 Войти</a>
        {{ end }}
    </div>
</header>
{{ end }}