{{ template "base" . }}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/categories.css" rel="stylesheet">
</head>
<body>

{{ template "header" . }}

<section class="section">
    <h1 class="section-title" style="padding:20px">Все категории</h1>
    <div id="categories-list" class="categories-grid"></div>
</section>

<script src="/static/js/categories.js"></script>

{{ template "footer" . }}
